/* .text {
    border-right: solid .4em rgba(0,255,0,1);
    white-space: nowrap;
    overflow: hidden; 
}

.text {
    animation: typing 4s steps(29, end) 1.5s 1 normal both, blinking-cursor 600ms steps(29,end) 1;
}

@keyframes typing {
    from {width: 8%;}
    to { width: 100%;}
}

@keyframes blinking-cursor {
    
     to {border-right-color: transparent;}
    from {border-right-color: rgba(0,255,0,1);}
} */

.cursor {
  display: inline-block;
  width: 24px;
  height: 80%;
  background-color: #00ff4b;
  margin-left: 0;
  animation: blink .6s linear infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}